<%= header %>
<div>
  <header>
    <div class="container">
      <div class="nav-wrapper">
        <a href="">
          <img src="" alt="logo" class="logo" />
        </a>
        <nav class="nav">
          <a href="">Movies</a>
          <a href="">TV Shows</a>
          <a href="">People</a>
          <a href="">More</a>
        </nav>
      </div>
      <div class="util">
        <ul class="utils">
          <li>+</li>
          <li>+</li>
          <li>+</li>
          <li>+</li>
          <li>search</li>
        </ul>
      </div>
    </div>
  </header>
  <!--   <div class="popular"></div> -->
</div>

<%= footer %>
