@import '../mixin/mixin.scss';

h1 {
    margin: 0;
    text-align: center;
    font-size: 86px;
}

h1 {
    background-color: red;
    border: solid 1px black;
}

@include for-desktop-only {
    section {
        background-color: blue;
    }
}

section {
    padding: 20px 20px 100px;

    @include for-desktop-only {
        padding: 15px 15px 80px;
        background-color: red;

    }

    @include for-tablet-only {
        padding: 10px 10px 50px;
    }

    @include for-phone-only {
        padding: 5px 5px 30px;
    }
}

.mainBanner {
    background-color: aqua;
    color: black;
    font: normal normal normal 16px/24px "Roboto Light", sans-serif;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
}