a {
  text-decoration: none;
  color: white;
}
li {
  font-size: 18px;
}

.py-80 {
  padding: 80px 0 80px 0;
}
.logo-svg {
  svg {
    width: 150px;
    position: relative;
    bottom: 70px;
    fill: url(#linear-gradient);
  }
}
